body{
    color:black;
    background:white;
    font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
    
}
header {
    border-bottom: solid 2px rgb(151, 1, 205);
    padding: 20px;
    font-size: 32px;
    color: rgb(151, 1, 205);
}
section {
    background: rgb(211, 0, 226);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
    font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

p{
    font-size: 20px;
}
