body{
    color:black;
    background:white;
}
header {
    border-bottom: solid 2px rgb(151, 1, 205);
    padding: 20px;
    font-size: 32px;
    color: rgb(151, 1, 205);
}
section {
    background: rgb(211, 0, 226);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}